.mainAvailableRoom {
    display: inline-block;
}
.search-form-booking h5 {
    display: inline;
}

.search-form-booking button {height: 45px;}

.bodyAdmin .search-form-booking input {
    width: 260px;
}

.search-form-booking {
    padding: 0px 0px 25px 25px;
}

.bodyAdmin h3 {
    padding: 0px 0px 0px 25px;
}

.bodyAdmin .booking-details h3 {
    padding: 0;
}
.changeRoom h4 {
    display: inline-block;
   
}
.popupChooseRoom {
    position: fixed;
    height: 100vh;
    background: white;
    top: 0;
    left: 15%;
    width: 85%;
    padding-top: 50px;
    padding-left: 15px;
    transition: 0.5s;
    transform: scale(0);
}
button#closePopupChooseRoom {
    float: right;
    margin-right: 60px;
    width: 55px;
    height: 55px;
    font-size: 25px;
}

.popupChooseRoom #note {
    margin-bottom: 25px;
}

.popupChooseRoom.appear {
    transform: scale(1);
    z-index: 99;
}
div.formRoomNumber {
    display: none;
}

div.formRoomNumber.appear {
    display: inline-block;
}


div.formRoomNumber input {
    height: 30px;
    width: 175px;
}

div.formRoomNumber input::placeholder {
    color: black;
    padding-left: 5px;
}
button#saveChangeRoom {
    display: none;
    width: 150px;
    margin: auto;
    height: 50px;
}
.listRoomMain form {
    display: inline-block;
    width: 300px;
    margin-left: 45px;
}

.listRoomMain #note {
    display: inline-block;
}

.filterRoomType h5 {
    display: inline;
}
.filterRoomType select#roomTypes {
    width: 90%;
}
.booking-rooms-tab li {
    pointer-events: none;
}
.reservation #dateFrom {
    width: 200px;
    display: inline;
}
.reservation #submit {
    width: 100px;
    display: inline;
}
form#formSubmit .upgradeBooking p {
    color: #000000a6;
    text-align: left;
    font-weight: 300;
}
select#roomTypeIdChoosed {
    width: 300px;
}

select#freeUpgrade {
    width: 175px;
}

button#saveUpgrade {
    height: 42px;
}
.taskMain {position: fixed;top:10%;left: 44%;text-align: center;background: #f5f4f4;padding: 50px;transition:0.5s;transform:scale(0);}
.taskMain.appear{
	transform:scale(1);
	z-index:999;
}
.taskMain h4 {
    padding: 20px;
    cursor: pointer;
    border: 1px solid black;
    background: white;
    transition: 0.2s;
}

.taskMain h4.choosed {
    background: #246514ad;
    color: white;
}
button#assignBtn {
    width: 100px;
    height: 45px;
    font-size: 18px;
}
form#formSubmit .booking-information.col-4 p {
    color: black;
    text-align: left;
}
.extendDiv h5 {display: inline-block;}

input#dateNumber {
    display: inline-block;
}

#dateNumber {
    width: 50px;
    padding-left: 10px;
}
button#saveExtend {
    width: 80px;
    font-size: 19px;
    height: 40px;
    margin: auto;
    margin-top: 50px;
    display:block;
}