a#infor {position: relative;}

div#infor-panel {
    display: none;
    position: absolute;
    padding: 0px 20px;
    background: white;
    box-shadow: 0 0 2px #00000087;
    top: 40px;
    right: 0;
}

div#infor-panel a {
    display: block;
    margin: 20px 0px;
}
h1.cd-headline.clip span { 
    display: block;
    font-size: 60px;
}

.cd-headline.clip .cd-words-wrapper.coloring{
	font-size: 44px;
}

.searchPage {
    padding: 10px 50px;
    display: flex;
}

.searchPage .filter {
    width: 25%;
}

.result {
    width: 75%;
    padding: 10px 0px 0px 30px;
}

.filter .booking-box {
    width: 100%;
    background: #1a456b;
}
.room .col-2 a img {
    width: 100%;
    height: 150px;
}

.room {
    padding: 20px 35px;
    box-shadow:0 0 3px #0000006b;
    margin-bottom: 20px;
    transition:0.5s;
}
.room:hover {
    box-shadow: 0 0 5px #000000;
}
.room a img {
    height: 200px;
    width: 100%;
}
.room .col-md-4,.room .col-md-5,.room .col-md-3 {
    padding: 0;
}

.roomReview {display: inline-block;margin-bottom: 20px;}

.roomReviewBadge {
    width: 50px;
    height: 50px;
    background: #005eaf;
    text-align: center;
    color: white;
    line-height: 50px;
    border-radius: 5px;
    float: left;
    margin-left: 10px;
}

.room .col-md-3 {text-align: right;}

.roomReviewContent {
    float: left;
    padding-top: 3px;
}

.room p {
    margin: 0;
}

.room .h3.roomTitle {
	font-size:25px;
	font-weight:600;
    margin-bottom: 10px;
    margin-top: 0;
    text-decoration: none;
    display: block;
}
.roomReviewContent h4 {
    margin: 0;
}

.roomDetailsPage .filter {
    width: 25%;
}

.roomDetailsPage {
    padding: 25px 80px;
    display: flex;
}

.mainRoomDetails {width: 75%;padding: 0px 5%;}
.mainRoomDetails h3 {
    text-align: center;
    font-weight: 600;
    font-size: 33px;
    margin-bottom: 20px;
}

.sliderImage, .sliderServiceImage {
    width: 100%;
    margin: auto;
    margin-bottom: 40px;
}

.sliderImage img, .sliderServiceImage img {
    width: 100%;
    height: 400px;
    margin-bottom: 10px;
}

ul#allImage , ul#allServiceImage{
    padding: 0;
    display: inline-block;
    margin: 0;
}
ul#allImage li, ul#allServiceImage li  {
    float: left;
    width: 95px;
    height: 80px;
    margin-right: 7px;
    list-style: none;
}

ul#allImage li img , ul#allServiceImage li img {
    width: 100%;
    height: 100%;
    cursor: pointer;
}
form#formSubmit p {
    color: white;
    font-size: 20px;
    text-align: center;
    white-space: nowrap;
    margin:7px;
}

form#formSubmit p#orgPrice {text-decoration-line: line-through;color: #949393;font-size: 18px;}
button#booking {
    width: 100%;
    margin-top: 20px;
    height: 50px;
    font-size: 19px;
}

.booking-form-list {
    display: flex;
    justify-content: center;
}
.bodyAdmin {width: 85%;float: right;}

.bodyAdmin .booking-rooms-tab ul li a {
    padding: 20px 33px 20px;
}

div#sidebar {
    width: 15%;
}
div#main-container {
    overflow: hidden;
}
.scrollDiv th {
    text-align: center;
}
.bodyAdmin .roomDetailsPage .mainRoomDetails {
    width: 100%;
}
.bodyAdmin form label {margin-top: 15px;width: 100%;}

.bodyAdmin form input, .bodyAdmin form select {
    width: 50%;
}

.bodyAdmin .booking-form form input, .bodyAdmin .booking-form form select {
    width: 100%;
}

button#btnEdit {
    width: 150px;
    margin-top: 20px;
    font-size: 18px;
    display: block;
}
.homeAdmin .booking-form {
    width: 40%;
    margin: auto;
}
ul#listNote button {
    height: 40px;
    pointer-events: none;
    font-weight: 6;
}
ul#listNote {
    display: inline;
    margin-left: 20px;
}

ul#listRoom li {
    float: left;
    width: 100px;
    height: 100px;
    margin: 6px;
    text-align: center;
    padding-top: 20px;
    background: blue;
    cursor: pointer;
}

ul#listRoom li h4, ul#listRoom li p {
    color: white;
}

ul#listRoom li p {
    font-size: 17px;
}

ul#listRoom {
    padding: 25px 20px;
    display: inline-block;
}
.bodyAdmin {
    width: 85%;
    float: right;
}

#sidebar.sidebar.responsive.ace-save-state {
    width: 15%;
}
li.btn.btn-success.availableRoom.booked {
    background: green !important;
}
.booking-details {padding-left: 75px;}
.oneInforCustomer .booking-form-list .single-form-part {
    display: block;
    text-align: left;
}

.oneInforCustomer .booking-form-list .single-form-part {
    width: 100%;
    padding-right: 35px;
}
.checkInForm .col-3 {
    margin-right: 50px;
    padding-left: 30px;
}

